<% include ./partials/header %>
<% include ./partials/header2 %>
<div style="text-align: center; margin-top: 10%" class="container">
    <div class="jumbotron">
        <h1>Warehouse Deployment</h1>
        <p>Welcome to Warehouse Deployment database. This applicaton has been developed by <b>Zsolt Kindla</b> (Warehouse Team Manager, Web Developer).<br>
        </p>
        <br>
        <p>For full access and admin priviliges please use the following login details.</p>
        
            <h3>Username: tjoe</h3>
            <h3>Password: tjoe</h3>
        
        <p>If you have any questions please contact me. Any re-use of this code subjected to permission, please contact for more details : Zsolt Kindla, goyslee@gmail.com</p>
        <h2>All Rights Resereved&#x00AE;</h2>
        <br>
        <!-- <p>For full access and admin priviliges please see above.</p> -->


        
        <p><li>Click<a href="/help"> HERE</a> for documentation</li></p>
    </div>
</div>
<% include ./partials/footer %>